:root {
    --white-color: #fff;
    --black-color: #000;
    --text-title-color: #555;
    --text-color: #9a9a9a;
    --brand-color: #f3a46b;
    --hover-color: #f9f9f9;
}

* {
    box-sizing: inherit;
}

html{
    /* hack */
    font-size: 62.5%;
    /* line-height: 2.7rem; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 1.4rem;
}
ul, li {
    margin: 0;
    padding: 0;
}

.position-relative {
    position: relative;
}

.btn {
    display: block;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    padding: 5px 20px;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--brand-color);
}


.btn:hover {
    background-color: #fc7a00;
}

.lable__hot::after {
    float: right;
    content: "hot";
    font-size: 1rem;
    padding: 3px 5px;
    line-height: 1rem;
    border-radius: 3px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #f76570;
}

.lable__new::after {
    float: right;
    content: "new";
    font-size: 1rem;
    padding: 3px 5px;
    line-height: 1rem;
    border-radius: 3px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #1bbc9b;
}


