:root {
    --white-color: #fff;
    --black-color: #000;
    --text-title-color: #555555;
    --text-color: #9a9a9a;
    --brand-color: #f3a46b;
    --hover-color: #f9f9f9;
}

* {
    box-sizing: inherit;
}

html{
    /* hack */
    font-size: 62.5%;
    /* line-height: 2.7rem; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 1.4rem;
}
ul, li {
    margin: 0;
    padding: 0;
}
.title-color{
    color: var(--text-title-color);
}
.text-color {
    color: var(--text-color);
}
.white-color {
    color: white !important;
}

.position-relative {
    position: relative;
}

.text-center {
    text-align: center;
}
.text-decoration-none {
    text-decoration: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.mt-64 {
    margin-top: 64px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}

.bg-green {
    background-color: #00cc8f !important;
}
.bg-blue {
    background-color: #008a9c !important;
}

/* btn */

.btn {
    display: block;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--brand-color);
}

.btn__padding10-35 {
    padding: 10px 35px;
}

.btn:hover {
    background-color: #fc7a00;
}

.btn__green {
    background-color: #008f53;
}
.btn__blue {
    background-color: #14b9d5;
}
.btn__red {
    background-color: #ff6868;
}
.btn__purple {
    background-color: #c755da;
}
.btn__yellow {
    background-color: yellow;
}


.lable {
    position: absolute;
    top:28px;
    right: 28px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: var(--brand-color);
}

.lable__grdient-red{
    background: linear-gradient(90deg, #f76570,#f78d65  ) ;
}
.lable__grdient-yellow {
    background: linear-gradient(90deg, #ffa32a,#f7e865  ) ;
}
.lable__grdient-purple {
    background: linear-gradient(90deg, #c000c0,#d16500  ) ;
}
.lable__grdient-blue {
    background: linear-gradient(90deg, #0063c0,#00b9d1  ) ;
}

.lable__hot::after {
    float: right;
    content: "hot";
    font-size: 1rem;
    padding: 3px 5px;
    line-height: 1rem;
    border-radius: 3px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #f76570;
}

.lable__new::after {
    float: right;
    content: "new";
    font-size: 1rem;
    padding: 3px 5px;
    line-height: 1rem;
    border-radius: 3px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #1bbc9b;
}
