
.header {
    box-sizing: border-box;
    background-color: var(--white-color);
    height: 78px;
}


.menu-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-bar__icon {
    display: none;
    font-size: 2.8rem;
    color: var(--text-color);
    padding: 20px 20px;
}
.menu-bar__icon:hover {
    color: var(--brand-color);
}

.logo__img {
    object-fit: contain;
    width: 170px;
}


.menu__contain::before {
    content: '';
    width: 100%;
    height: 18px;
    display: inline-block;
}
.menu__contain::after {
    content: '';
    width: 100%;
    height: 21px;
    display: inline-block;

}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-left: 12px;
    flex: 1;
    list-style: none;
    font-size: 1.6rem;
}


.menu__item {
    padding: 0 8px;
    position: relative;
    line-height: 4.4rem;
}
.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 20px;
    line-height: 3.4rem;

}

.menu__item:hover {
    cursor:pointer;
}
.menu__item:hover .menu__link{
    color: #313131;
}

.menu__item:hover .sub-menu {
    display: block;
}

/* sub-menu cap 1 */
.sub-menu {
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    z-index: 1;
    background-color: var(--white-color);
    min-width: 180px;
    list-style: none;
}

.sub-menu::before{
    content: '';
    top:-24px;
    height: 24px;
    width: 100%;
    position:absolute;

}
.sub-menu__item {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0px 2px 5px #f1f1f1;

}
.sub-menu__item:hover,
.sub-menu__item-2:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.sub-menu__item:hover .sub-menu__link,
.sub-menu__item-2:hover .sub-menu__link-2{
    color: #313131;
}
.sub-menu__item:hover .sub-menu-2 {
    display: block;
}

/* sub-menu cap 2 */
.sub-menu-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: var(--white-color);
    min-width: 180px;
    list-style: none;
}
.sub-menu-2::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    left: -20px;
    
}
.sub-menu__item-2 {
    padding: 0 8px;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0px 2px 5px #f1f1f1;

}
.sub-menu__link-2, .sub-menu__link{
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    padding: 16px 20px;
    line-height: 16px;
}
.btn__book-now {
    color: var(--white-color);
}

/*  */

.slide-show {
    position: relative;
    max-height: 800px;
    margin-top: 0;
    margin-bottom: 0;
    height: 774px;
}
.slide-show-1 {
    /* background-color: #ccc; */
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/assets/img/slide-01.jpg);
    background-size: cover;
    background-position: center center ;
    height: 774px;
    /* padding-top: 774px; */
}

.slide__content {
    position: absolute;
    top: 300px;
    right: 0;
    min-width: 410px;
}

.slide__transition {
    position: absolute;
    top: 172px;
    right: 0;
    animation: circular-move 2s linear 2s infinite reverse;

}
/* dich-chuyen-tròn circular-move */
@keyframes circular-move {
    0% {right:0px; top:172px;}
    25% {right:-3px; top:172px;}
    50% {right:-3px; top:175px;}
    75% {right:0px; top:175px;}
    100% {right:0px; top:172px;}
}
/* end di chuyển tròn */

.slide-show__title {
    background-color: #555555;
    color: var(--white-color);
    margin: 8px 0;
    padding: 5px 20px 10px;
    line-height: 45px;
    font-size: 4.5rem;
    transform: rotate(-2deg)
}


.slide-show__title > span {
    color: var(--brand-color);
}

.list__dec-sl {
    margin-top: 32px;
}
.slide-show__dec {
    display: flex;
    font-size: 2rem;
    margin-top: 20px;
    line-height: 32px;
    min-height: 63px;
    color: var(--white-color);
}

.slide-show__dec > i {
    margin-top: 5px;
    margin-right: 20px;
    text-align: center;
}

.btn__buy-the-tour {
    position: relative;
    margin: 15px auto 0;
    font-size: 20px;
    padding: 15px 50px;

}

.btn__buy-the-tour:hover {
    border-radius: 3px;
    transition: border-radius .3s;
    -moz-transition: border-radius .3s;
    -webkit-transition: border-radius .3s;
}

.btn__buy-the-tour::before {
    content: '$25';
    position: absolute;
    width: 50px;
    top: -25px;
    right: -20px;
    height: 50px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #555555;
}

.slide__control {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    color: rgb(255, 255, 255);
    font-size: 3.4rem;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
}

.slide__next {
    right: 0;
}

.content {
    position: relative;
    margin-top: 62px;
    color: var(--text-color);
}

/* title-base */
.title__content-p {
    margin: 0;
    padding-top: 72px;
}

.title__content-h1 {
    margin: 20px 0 25px;
    font-size: 3.6rem;
}
.title__content-h1 > u {
    position: relative;
    text-decoration: none;
    z-index: 1000;
}
.title__content-h1>u::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--brand-color);
    bottom: 10px;
    left: 0;
    z-index: -1;
}
.u__color-green>u::after {
    background-color: #00a199;
}
.u__color-or>u::after {
    background-color: #fc5c00;
}

/*  */

.content__dec {
    margin-bottom: 35px;
}
.content__dec p {
    margin: 12px 0;
    line-height: 2rem;
}

.btn__content {
    padding: 10px 35px;
}

.content__video {
    height: 660px;
    background-image: url(/assets/img/para-07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.icon__play-video {
    font-size: 8rem;
    line-height: 660px;
    color: var(--white-color);
}
.icon__play-video:hover {
    color: var(--brand-color);
}

.travel-section {
    position: absolute;
    bottom:56px;
    width: 920px;
    height: 230px;
}
.travel-section__item {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
}
.travel-section__img {
    width: 100%;
}
.bg-555555 {
    background-color: #555555;
    color: var(--white-color);
    margin-bottom: 84px;
}

.services {
    display: flex;
}
.service__item {
    display: flex !important;
    margin-bottom: 50px;
}
.service__icon {
    margin-top: 2px;
    font-size: 3.5rem;
    min-width: 50px;
}
.service__content {
    margin-left: 20px;
}
.service__title-content {
    margin: 0;
    font-size: 2.4rem;
}
.service__dec {
    font-size:1.4rem;
    margin: 20px 0;
    line-height: 24px;
    font-weight: 300;
}
.btn__services {
    font-size: 1.4rem;
    padding: 10px 20px;
    font-weight: 300;
}
.btn__services-gr {
    background-color: #1bbc9b;
}
.btn__services-red {
    background-color: #ff6868;
}
.btn__services-bl {
    background-color: #14b9d5;
}
.btn__services-purple {
    background-color: #c755da;
}

.sale {
    margin-bottom: 30px;
    padding: 22px 38px;
    background-color: var(--brand-color);
}

.sale>p {
    padding-bottom: 22px;
}

.time__number {
    margin: 10px 0;
    font-size: 36px;
    font-weight: normal;
}

.time__date {
    font-size: 14px;
    font-weight: normal;
}

.btn__sale {
    margin: 38px auto 12px;
    padding: 15px 15px;
    background-color: var(--white-color);
    color: var(--brand-color);
}

/*  */

.hr{
    margin-bottom: 10px;
    border-top: solid 1px #ccc;

}
.sale__item {
    min-height: 562px;
    margin-bottom: 30px;
    border: solid 1px #ccc;
}

.sale__img {
    width: 100%;
}

.sale__content {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px 28px;
}

.sale__label {
    position: absolute;
    top: -25px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 50px;
    color: var(--white-color);
    background: linear-gradient(to right, #ff6868 , #ff8a30);
}

.sale__label-yl-or {
    background: linear-gradient(to right, #ffee00, #ffa600 );
}

.sale__name {
    color: #555555;
    margin: 5px 0 0;
    font-size: 2rem;
}
.sale__local {
    color: var(--text-color);
    margin: 5px 0 15px;
    font-size: 1.5rem;
    font-weight: 300;
}
.sale__sevice {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.sale__sevice-name {
    color: #555555;
}
.sale__sevice-name > a {
    color: #555555;
    line-height: 2rem;
    text-decoration: none;
}
.sale__price {
    color: #555555;
    font-size: 2.5rem;
}
.sale__old-price {
    opacity: .8;
    font-size: 20px;
}
.sale__price-number {

}
.sale__unit {

}
.sale__sevice-dec {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2.7rem;
}
.sale__sevice-dec > p {
    margin: 10px 0;
}
.btn__details {
    width: 128px;
    padding: 10px 20px;
}

.lable__count {
    padding: 2px 10px;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--white-color);
    font-weight: normal;
    background-color: #ff6868;
}

.bg-yellow{
    background-color:#ffee00;
}


/*  */
.blog__contain {
    margin-bottom: 58px;
}
.blog__item {
    border: solid 1px #ccc;
    margin-left: 0;
    margin-right: 0;
}
.blog__img {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.blog__img > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__content {
    background-color: white;
    padding: 30px !important;
    line-height: 2.7rem;
}

.content__first {
    margin: 0;
    font-size: 1.4rem;
    color: var(--text-color);
}

.blog-content__title {
    margin: 0 0 10px;
    font-size: 2.8rem;
}
.blog__dec {
    font-size: 14px;
    color: var(--text-color);
}

.btn__blog {
    padding: 10px 20px;
}

/*  */
.bg__footer {
    background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/city-tours/wp-content/uploads/sites/5/2018/11/para-07.jpg?id=1845");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 86px 0;
}

.footer__container {
    background-color: var(--white-color);
    padding: 35px 30px;
}
.logo__footer {
    max-width: 150px;
}
.footer__dec {
    color:var(--text-color);
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.social__icon {
    font-size: 2.4rem;
    padding: 24px 0;
}

.footer__item {
    list-style: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.footer__item > h2 {
    color: #555555;
    margin: 0 0 24px;
    font-size: 1.4rem;
}
.footer__link {
    color:var(--text-color);
}
.footer__link > i {
margin-right: 8px;
}

.copyright {
    display: flex;
    background-color: var(--brand-color);
    justify-content: space-between;
    padding: 5px 20px;
    color: var(--white-color);
    letter-spacing: .2rem;
}

